body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    background-color: #000;
}  

.container{
    max-width: 20000px;
}

.sidebar {
    /* width: 20vw; */
    height: 91vh;
}

.sidebar-main {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.sidebar-item {
    width: 100%;
    height: 70;
}

.side-nav-item { 
    height: 70;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #212529;
}

.side-nav-item:hover { 
    height: 70;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}

.icon-nav {
    width: 50px;
}

.side-nav-link {
    color: white;
}

.side-nav-link:hover{
    color: rgb(200, 82, 255);
}


.item-icon { 
    height: 40;
    width: 40;
    border-radius: 25px;
    background-color: #000;
}

.main-container{ 
    border-radius: 10px;
    height: 85vh;
}

label {
    color: white;
}

.table-content { 
    height: 70vh;
}


.form-select-sm{
    background-color: #212529;
    color: white;
}

.form-control-sm{
    background-color: #212529;
    color: white;
}

.form-control-sm:focus{
    background-color: black;
    border-color:rgb(196, 67, 255);
    color:white;
    box-shadow: 0 0 0 0.25rem rgba(165, 13, 253, 0.25);
}

.page-item.disabled .page-link{
    background-color: #212529;
    color: whitesmoke;
}

.page-item.disabled .page-link:hover{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    color: whitesmoke;
}

.page-link{
    background-color: #212529;
    color: whitesmoke;
}

.page-link:hover{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    color: whitesmoke;
}

.page-link:focus{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    color: whitesmoke;
}

.pagination .active .page-link{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    color: whitesmoke;
}

.form-input-dark{
    background-color: #212529;
    color: white;
}

.form-input-dark:focus{
    background-color: #212529;
    color: white;
}

.modal-width-custom{
    width: 50vw;
    max-width: 50vw;
}

.input-tall { 
    height: 100;
}

.login-sheet {
    margin-top: 160px;
    width: 400px;
    height: 500px;
    background-color: #212529;
    border-radius: 20px;
}
